<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Bolt Custom magento plugin
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Bolt
 * @package    Bolt_Custom
 * @copyright  Copyright (c) 2019 Bolt Financial, Inc (https://www.bolt.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>

    <modules>
        <Bolt_Custom>
            <version>0.1.0</version>
        </Bolt_Custom>
    </modules>

    <global>
        <helpers>
            <boltcustom>
                <class>Bolt_Custom_Helper</class>
            </boltcustom>
        </helpers>
        <models>
            <boltcustom>
                <class>Bolt_Custom_Model</class>
            </boltcustom>
        </models>
        <events>
            <bolt_boltpay_filter_shipping_label>
                <observers>
                    <bolt_custom_add_delivery_estimate_to_label>
                        <class>Bolt_Custom_Model_Observer</class>
                        <method>addDeliveryEstimateTitle</method>
                        <depends>
                            <Bolt_Boltpay />
                        </depends>
                    </bolt_custom_add_delivery_estimate_to_label>
                </observers>
            </bolt_boltpay_filter_shipping_label>
            <bolt_boltpay_filter_discount_amount>
                <observers>
                    <bolt_custom_customer_balance_amount>
                        <class>Bolt_Custom_Model_Observer</class>
                        <method>addCustomerBalanceAmount</method>
                        <depends>
                            <Bolt_Boltpay />
                        </depends>
                    </bolt_custom_customer_balance_amount>
                </observers>
            </bolt_boltpay_filter_discount_amount>
        </events>
    </global>
</config>
